.header-section {
  position: relative;
  animation: section;
  background-color: #fadff1;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
}
.header-section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  color: #3e3e3e;
}
.header-section__wrapper img {
  animation-name: titleImg;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
.header-slogan {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}
@keyframes titleImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
.header-section-btn {
  font-size: 18px;
  padding: 20px 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ef96d0;
  border-radius: 10px;
  color: #333;
  transition: 0.5s;
  text-transform: uppercase;
  &:hover {
    background-color: darken(#ef96d0, 20%);
    color: #ffff;
  }
  &:active {
    background-color: darken(#ef96d0, 30%);
  }
}
